*{
    
    margin-top: 0px;
    padding: 0px;
}
.navbar-brand img{
    height: 60px;
    width: 100px;
    background-color: white;
    border-radius: 80px;
    
}


.navbar-brand img:hover{
    background-color:#80ced6;
}
