*{
    
    margin-top: 0px;
    padding: 0px;
}

.card{
    margin-top: 20px;
}

.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}

.navbar-brand img{
    height: 60px;
    width: 100px;
    background-color: white;
    border-radius: 80px;
    
}


.navbar-brand img:hover{
    background-color:#80ced6;
}


.card img {
    max-width:200px;
    max-height:200px;
    width:auto;
    height:auto;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card-body button{
    margin-left: 90px;
}

.card img:hover{
    transform: scale(1.5);
}






    


